<div class="engloba-titulo">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Área Administrativa</h1>
                <h4>Seguem tabelas com informações de Registro:</h4>
            </div>
        </div>
    </div>
</div>
<div class="engloba-tabelas">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 id="Alunos">Alunos Cadastrados:</h4>
                <table id="table_alunos" class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col" data-sortable="true">ID</th>
                            <th scope="col" data-sortable="true">Nome</th>
                            <th scope="col" data-sortable="true">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each alunos}}
                            <tr>
                                <th scope="row">{{dataValues.id}}</th>
                                <td>{{dataValues.nome}}</td>
                                <td><a href="/excluir_aluno/{{dataValues.id}}" class="btn btn-outline-dark btn-sm"><i class="bi bi-trash"></i></a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <form class="input-group" action="/cadastra_aluno" method="POST">
                    <input type="text" name="alunos_aluno_nome" placeholder="Nome do Aluno" class="form-control" />
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-check2"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 id="Cursos">Cursos Cadastrados:</h4>
                <table class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Imagem</th>
                            <th scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cursos}}
                            <tr>
                                <th scope="row">{{dataValues.id}}</th>
                                <td>{{dataValues.nome}}</td>
                                <td><img src="uploads/{{dataValues.imagem}}" /></td>
                                <td><a href="/excluir_curso/{{dataValues.id}}" class="btn btn-outline-dark btn-sm"><i class="bi bi-trash"></i></a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <form class="input-group" action="/cadastra_curso" method="POST" enctype="multipart/form-data">
                    <input type="text" name="cursos_curso_nome" placeholder="Nome do Curso" class="form-control" />
                    <input type="file" name="cursos_curso_imagem" class="form-control" />
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-check2"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 id="Relacoes">Relação entre Alunos e Cursos:</h4>
                <table class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome do Aluno</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each relacoes}}
                            <tr>
                                <th scope="row">{{dataValues.id}}</th>
                                <td>{{dataValues.aluno.nome}}</td>
                                <td>{{dataValues.curso.nome}}</td>
                                <td><a href="/excluir_relacao/{{dataValues.id}}" class="btn btn-outline-dark btn-sm"><i class="bi bi-trash"></i></a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <form class="input-group" action="/cadastra_relacao" method="POST">
                    <select name="relacoes_aluno_id" class="form-select">
                        <option selected>Escolha o Aluno</option>
                        {{#each alunos}}
                            <option value="{{dataValues.id}}">{{dataValues.nome}}</option>
                        {{/each}}
                    </select>
                    <select name="relacoes_curso_id" class="form-select" id="inputGroupSelect01">
                        <option selected>Escolha o Curso</option>
                        {{#each cursos}}
                            <option value="{{dataValues.id}}">{{dataValues.nome}}</option>
                        {{/each}}
                    </select>
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-check2"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Certificados Emitidos:</h4>
                <table class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome do Aluno</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Nome Completo do Aluno</td>
                            <td>Curso</td>
                            <td><a class="link-primary" target="_blank" href="#">Certificado</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a href="/gerar_pdf/Enzo José Ribeiro Dantas da Cunha/Português" target="_blank">Testando..</a>

<style>
    .engloba-titulo { background: #e4efff; padding: 5em 0; }
    .engloba-titulo h1 { color: #464646; }
    .engloba-titulo h4 { color: #9c9c9c; }
    .engloba-tabelas > .container > .row { padding: 3em 0; }
    .engloba-tabelas > .container > .row:not(:last-of-type) { border-bottom: 1px solid #f1f1f1; }
    .engloba-tabelas td > img { max-height: 2em; }
</style>